table{
    background: #cccccc;
    padding: 20px;
}
td{
    width: 150px;
    height: 150px;
    text-align: center;
    border: 2px solid black;
    font-size: 100px;
}
.turn{
    font-size: 70px;
}
.points{
    font-size: 70px;
}